/* Default Style */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}


/* Header Style*/

/* Nav Style */
a {
    text-decoration: none;
}
/* Main Style */

/* Footer Style */